body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.color-body{
background-color: white;
height: 100vh;
}
nav{
  width: 100%;
  height: 90px;
background: #b45b35;
}
.logo{
height: 72px;
width: 78px;
cursor: pointer;
}
.card{
cursor: pointer;
}
.form-search{
position: relative;
}
.input-search{
  height: 40px;
  text-indent: 20px;
  outline: none;
  border-radius: 20px;
  /* direction: rtl; */
  width: 1000px;
  margin-right:20px;
}
.icon-search:focus{
box-shadow: none;
border: 2px solid red;
}
.icon-search{
position: absolute;
top: 9px;
left: 21px;
font-size: 20px;
font-weight: bold;
}
.card_overlay{
  position: absolute;
  background: rgba;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s all ease-in;
}
.card:hover .card_overlay{
 opacity: 1;
 visibility: visible;
}
.overlay_text{
  text-align: center !important;
  margin-top: 4rem;
  font-weight: bold;
}
.card-details{
  background: rgb(244, 244, 248);
  height: 80%;
}
.card-story{
  margin: auto;
  background-color: rgb(244, 244, 248);
  margin-top: -37px;
  width: 100%;
  height: 174px;
}
.img-movie {
width: 300px;
}
.card-text-details{
  font-size: 2rem;
  font-weight: 500;
  padding: 6px;
}
.btn{
  background: #b45b35 !important;
  color: white !important;
  border: none;
  outline: none;
}